---
- hosts: localhost
  vars:
#This playbook is for Homebrew only
  brew_taps:
    - homebrew/core
    - homebrew/services
    - homebrew/cask
    - homebrew/cask-drivers
    - homebrew/cask-eid
    - homebrew/cask-fonts
    - homebrew/cask-versions
    - buo/cask-upgrade  # for brew cu
    - thoughtbot/formulae  # for rcm
    - vitorgalvao/tiny-scripts # for cask-repair
    - gerbera/gerbera # for gerbera

  brew_utils:
    - ansible #already installed by ./mac bootstrap script
    - cask-repair # https://github.com/Homebrew/homebrew-cask/blob/master/CONTRIBUTING.md#updating-a-cask
    - dockutil
    - mas
    - pwgen # password generator
    - git
    - libdvdcss
    - mas
    - mtr
    - nmap
    - pwgen
    - rcm
#   - sshpass
    - trash
    - youtube-dl

  tasks:
  - name: Install homebrew taps from brew_taps
    homebrew_tap:
      name: "{{ item }}"
      state: present
    with_items: "{{ brew_taps }}"

  - name: Install homebrew packages from brew_utils
    homebrew:
      name: "{{ brew_utils }}"
      state: latest
      update_homebrew: yes

  - name: Install sshpass
    homebrew:
      name: "https://raw.githubusercontent.com/kadwanev/bigboybrew/master/Library/Formula/sshpass.rb"
      state: latest

    - name: Cleanup after brewing
      shell: brew cleanup -s
